{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %} {% block content%}


<!-- Links -->
<div class="card-deck">

    <div class="card">
        <img src="descarga.png" class="card-img-top" alt="...">
        <div class="card-body">
            <a class="card-title">Cupping/ Ventosas (eastern therapy)</a>
        </div>

        <img src="descarga.png" class="card-img-top" alt="...">
        <div class="card-body">
            <a class="card-title">Tuiná (manipulative therapy)</a>
        </div>

        <img src="descarga.png" class="card-img-top" alt="...">
        <div class="card-body">
            <a class="card-title">Cupping/ Ventosas (eastern therapy)</a>
        </div>

    </div>
    {% endblock content%}